.nav {
    grid-area: n;
    padding: 10px;
    border-radius: 10px;
    background-color: #454545;
    box-shadow: black 0 0 10px;
}

.item {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px auto;
    text-align: center;
}

.active {
    color: gold;
    text-decoration: none;
}